In [7]:
# 1st-
Str='Hello world'
List=[1,2,3,'pw',(3+4j),3.45,True]
Float=23.4
mytuple = ("apple", "banana", "cherry")

In [10]:
# 2nd-
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python']
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [12]:
# 3rd-
print(5/2) # '/' -->This is used for division and it returns floating point value value 

print(5%2) # '%' -->It calculates the remainder of the division between two numbers. 

print(5//2) # '//' -->It is used for floor division of an integer 

print(5**2) # '**' -->It is used to calculate power of any number

2.5
1
2
25

In [15]:
# 4th-
list=[1,2,3.5,'yagyesh',(2+4j),True]

for i in list :
    print(i," ",type(i))

1   <class 'int'>
2   <class 'int'>
3.5   <class 'float'>
yagyesh   <class 'str'>
(2+4j)   <class 'complex'>
True   <class 'bool'>

In [1]:
# 5th-
A = 24  # The number to be divided
B = 3   # The divisor

count = 0  # Counter to keep track of the number of divisions

while A!= 0:
    A = A - B
    count =count+ 1

print("A is divisible by B")
print("Number of divisions:", count)

A is divisible by B
Number of divisions: 8

In [2]:
# 6th-
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list:
    if i%3==0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [3]:
# 7th-

# Immutable data types: Immutable objects cannot be modified once they are created. If you attempt to modify
# an immutable object, a new object is created with the updated value

str='yagyesh'
str[0]=h  # Not allowed 
print(str) #-->print the string

#Mutable data types: Mutable objects can be modified after they are created. The changes directly affect the existing object 

l1=[1,2,3,4]
l1[2]=33
print(l1) #-->Print the list

NameError: name 'h' is not defined